html  
	head
		title UMass Fitness Helper
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css')
		link(rel='stylesheet', href='/css/style.css')
		script(src='https://use.fontawesome.com/c4f10d98b2.js')
		script(src='https://code.jquery.com/jquery-3.2.1.min.js')
		script(src='/js/script.js')

	body
		div.container
			div.header.clearfix
				nav.navbar.navbar-light.bg-faded
					a.navbar-brand
						h3.text-muted.umass UMass Meal Chooser
					h5.text-muted.umass by Jacob Goldman
			div.jumbotron
				div.centered
					h2 Generate a custom meal plan!
					button.btn.btn-primary.btn-circle.btn-xl
						i.fa.fa-pencil
				hr
				div.fillout.card-columns
					each i in item
						div.card
							div.card-block
								center
									h5.card-title= i.name
								p.card-info Serving Size: 
									b=i.serving
								div.card-info
									ul.list-group.list-group-flush
										li.list-group-item Calories: #{i.calories}
										li.list-group-item Protein: #{i.protein}
										li.list-group-item Fat: #{i.fat}
										li.list-group-item Carbs: #{i.carbs}